bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userprefs
project.lock.json
artifacts/

.vs/
.idea/
.vscode/*.local.json

appsettings.Development.json
appsettings.Local.json
secrets.json
*.env
.env

*.pdf

Thumbs.db
desktop.ini
.DS_Store
